name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly-cca5d6f7dc60a9a5318af523c187c2a2416377d2

      - name: Print forge version
        run: forge --version

      - name: Check contract sizes
        run: forge build --skip test --sizes

      - name: Forge build
        run: forge build

      - name: Run lint
        run: FOUNDRY_DISABLE_NIGHTLY_WARNING=1 forge lint && $([ -n "$(forge lint -q 2>&1)" ] && exit 1 || exit 0)

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly-cca5d6f7dc60a9a5318af523c187c2a2416377d2

      - name: Print forge version
        run: forge --version

      - name: Run tests
        run: forge build && forge test -vvv --no-match-path "test/integration/**"

  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly-cca5d6f7dc60a9a5318af523c187c2a2416377d2

      - name: Print forge version
        run: forge --version

      - name: Check formatting
        run: forge fmt --check
